disnake==2.12.0
python-dotenv==1.2.2
git+https://github.com/xtekky/gpt4free.git
openai==2.36.0
groq==1.2.0
aiohttp==3.13.5
psutil==7.2.2
typing-extensions==4.15.0
psycopg2-binary==2.9.12
SQLAlchemy==2.0.49
